<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>{{page}}</h2>
        <form enctype='application/json', action="/user/login", method="POST">
            Username:<input type="text" name="Number" >
            password:<input type="text" name="password">

            <input type="submit" value="done">
        </form>
    </body>

</html>