<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>1{{page}}</h2>
        <form>
            Username:<input type="text" name='username' >
            password:<input type="text" name="pass">

            <button type="submit"></button>
        </form>
    </body>

</html>